.inputPassword{
  width: 45px;
  height: 55px;
  margin-right: 30px;
}

.closeButtonContainer{
  position: absolute;
  right: 20px;
  top: -12px;
}

.iconConfirm{
  position: relative;
  left: -20px;
}

.alignCenterButton{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.InputContainer:nth-child(1),
.InputContainer:nth-child(2),
.InputContainer:nth-child(3){
  margin-right: 30px;
}

.InputContainer{
  display: flex; 
  align-items: center;
}

.InputContainer input {
  font-size: 40px;
  background-color: #656982;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  color: #EFEFEF;
  width: 50px;
  height: 50px;
  padding-top: 40%;
  text-align: center;
  caret-color: transparent;
}

.ContainerButtonConfirm{
  margin-right: 0;
  position: relative;
}

.InputContainer > input{
  vertical-align: middle;
}

.flex{
  display: flex;
}