.minHeight{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.buttonAppBar{
  width: 79.85px;
  height: 25.63px;
}

.positionRelative{
  position: relative;
}

.cover{
  width: 100%;
}

main{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;

  .LabelInputContainer{
    width: 88.75%;
    position: absolute;
    top: 21%;

    label{
      font-weight: 500;
      color: #555555;
      font-style: normal;
      font-size: 12px;
      transform: scale(0.9883, 1.143);
      margin-bottom: 4px;
    }
  }

  .marginLeft{
    margin-left: 4px;
  }
}

.footer{
  margin: 0 16px 24px 16px;
}

input::placeholder {
  text-align: center;
  font-size: 18px;
  line-height: 23.4px;
}
